{% extends 'base.html' %}

{% block content %}

<div class="text-center my-4">
    <h3>ГЛАВНАЯ</h3>
</div>

<h3 class="text-center my-4">ВАЖНАЯ ИНФОРМАЦИЯ</h3>

<div class="row">
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title text-center">СЛЕДИТЕ ЗА ПРИВЫЧКАМИ!!!</h5>
                <p class="card-text">Habit Bot предоставляет простой и удобный способ для пользователей отслеживать свои привычки, а администраторам — мониторить взаимодействие и эффективность бота.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title text-center">Ваши данные в безопасности!</h5>
                <p class="card-text">При взаимодействии с ботом Habit Bot переписказаписывается в базу данных бота.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title text-center">Блок в разработке...</h5>
                <p class="card-text">Скоро...</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
